@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Noto+Serif+SC');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

.App {
  text-align: center;
  color: #4f4f4f;
  overflow: hidden !important;
}
.Project .column {
  flex-direction: column !important;
  display: flex;
}
.About .column {
  flex-direction: column !important;
}

 a.cardGroup {
  text-decoration: none;
  color: #4f4f4f;
}

.margin-bottom {
  margin-bottom: 40px;
}


/*chevron*/
.chev-wrap {
  position: absolute;
    width: 24px;
    height: 24px;
    bottom: 8%;
    right: 50%;
}

.chevron {
  position: absolute;
  width: 24px;
  height: 8px;
  opacity: 0;
  /* transform: scale3d(0.5, 0.5, 0.5); */
  animation: move 3s ease-out infinite;
}



.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: rgba(255, 255, 255, 0.6);
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

@keyframes move {
  25% {
    opacity: 1;

  }
  /* 33% {
    opacity: 1;
    transform: translateY(30px);
  } */
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px);
  }
}


@keyframes pulse {
  to {
    opacity: 1;
  }
}
/*Home Page Styles*/
.landing-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Noto Serif', serif;
  color: #000000;
  height: 100vh;
  padding: 0 40px;
  margin-bottom: 80px;
}
.landing-info h1 {
  font-size: 32px;
  line-height: 40px;
}
.landing-info a {
  text-decoration: none;
  color: #334431;
  font-size: 24px;
  font-weight: bold;
}
a.nav-home {
    border-left: #f2cbbc 8px solid;
    padding-left: 8px;
    text-align: left;
    display: flex;
    align-self: flex-start;
}
.column {
  display: flex;
}
.landing-info h1 {
  font-size: 80px;
  line-height: 96px;
  text-align: left;
  font-weight: 700;
  color: #334431;
}
.landing-info h2 {
  text-align: left;
  color: #334431;
  font-size: 32px;
  margin-bottom: 16px;
}
.gif-stuff {
  background-color: #f2cbbc;
  height: 100vh;
  margin-bottom: 80px;
}
ul.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 24px;
    width: 100%;
    margin-top: 8px;
}
ul.menu li {
  margin-left: 24px;
  font-size: 16px;

}
ul.menu li a {
  text-decoration: none;
  color: #334431;
  font-family: 'Noto Serif SC', serif;
  font-weight: 600;

}
.social {
  display: flex;
  flex-direction: row;
  padding-right: 24px;
  padding-left: 4px;
}
.social img {
  color: #000000;
  height: 24px;
}
.social li {
    padding-right: 16px;
}

.filter-buttons {
  margin-bottom: 16px;
}

.filter-buttons li {
  display: inline-block;
}
.filter-buttons button {
  background: transparent;
  border: none;
  border-bottom: 4px solid transparent;
  margin-right: 12px;
  font-size: 18px;
  font-family: 'Fira Sans', sans-serif;
  margin: 4px 16px;
  transition: .3s;
  padding: 4px 0;
}
.filter-buttons button:hover {
  background: transparent;
  border-bottom: 4px solid #334431;
  cursor: pointer;
}

.filter-buttons button.active {
  background-color: #334431;
  padding: 4px 16px;
  color: #fff;
  margin-right: 12px;
}

/*footer styles*/
.footer {
  padding: 0 !important;
  background-color: #ffffff !important;
  margin-top: 80px;
}
.footer-solid {
  background-color: #f2cbbc;
}
.footer .landing-info {
  height: 240px;
  width: 100%;
}
.footer ul.menu {
  justify-content: flex-start !important;
  padding-bottom: 0;
}
.footer ul.menu li {
  font-size: 16px;
}
.footer ul.menu li a {
  color: #334431 !important;
}
.footer .landing-info a.nav-home {
  align-self: flex-end;
}
.footer .landing-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24px;
}
.footer .social {
  padding-left: 24px;
  padding-right: 0;
  justify-content: space-between;

}

/*card component*/
.Card {
  border-radius: 12px;
  font-family: 'Fira Sans', sans-serif;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.columns {
  flex-wrap: wrap;
}
.Home .card-wrapper {
  margin-bottom: 80px !important
  ;
}
.Card a {
  text-decoration: none;
  color: #4f4f4f;
}
.Card .project-image {
  border-radius: 12px 12px 0 0;
  height: 360px;
  background-size: cover;
  background: center;
}
.project-title {
  display: flex;
  flex-direction: column;

}
.project-title h1 {
  font-family: 'Noto Serif', serif;
  font-size: 24px;
  font-weight: 700;
}
.Card .project-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 24px;
  padding-left: 40px;
  padding-top: 40px;
  text-align: left;
}
.project-description {
  padding: 8px;
  padding-right: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}
.project-description p {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 24px;
}
.project-description a.project-btn {
  background-color: #000000;
  padding: 16px 64px;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
  width: 100%;
  font-weight: 700;
  transition: 0.3s;
  text-align: center;
}
.project-description a.project-btn:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-bottom: 0;
}
/*project page*/
.Project.color-block {
  background-color: #e6af4b;
  height: 800px;
}
.Project ul.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 64px;
}
.Project .project-title {
  padding-top: 80px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 16px;
}
.Project ul.menu a.nav-home {
  margin-left: 32px;
}
ul.menu li {
  font-size: 24px;
}
.footer ul.menu li {
  font-size: 24px;
}
.Project .project-description-lg {
  font-size: 48px;
  line-height: 56px;
  padding-top: 24px;
  margin-bottom: 56px;
  font-weight: bolder;
  font-family: 'Fira Sans', sans-serif;
}
.Project .summary {
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  margin-bottom: 200px;
  text-align: center;
  padding: 0;
}
.Project p.processSecondary {
  text-align: left;
  font-size: 24px;
}
.Project .process-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.process-image {
  padding-bottom:40px;
}
.Project .process-image img {
  padding-bottom: 40px;
  padding: 0;
}
.Project a.projectLink {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #4f4f4f;
  transition: 0.3s;
  font-weight: 700;
  border: 2px solid #334431;
  padding: 16px 0;
  text-transform: uppercase;
  border-radius: 3px;
}
.Project a.projectLink:hover {
  background-color: #334431;
  color: #ffffff;
}
.Project a.projectLinkSecondary {
  margin-left: 56px;
}
/*About*/
.About .profile {
  display: flex;
  flex-direction: row;
}
.About .container {
  margin-bottom: 160px !important;
}
.About h1.hello {
  font-family: 'Noto Serif', serif;
  color: #4f4f4f;
  font-size: 64px;
  margin-bottom: 40px;
  font-weight: 700;
  text-align: left;
  margin-left: 0;
}
.About p.aboutMe {
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  color: #4f4f4f;
  text-align: left;
  margin-bottom: 40px;
  line-height: 40px;
  padding: 0;
}
.About ul.menu li a {
  color: #000000;
}
.About ul.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 64px;
}
.About p.aboutMe a {
  text-decoration: none;
  border-bottom: 4px solid #334431;
  color: #4f4f4f;
}
/*secondary project*/
.newProject {
  color: #4f4f4f;
}
/* .newProject img {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.14);
} */
.newProject img.shadowNone {
  box-shadow: none;
  padding: 32px 0;
}
.newProject .details {
  flex-direction: row !important;
  display: flex;
  text-align: left;

}
.problem {
    padding-left: 0;
    padding-top: 0;
}
.newProject .details h3 {
  font-size: 24px;
  font-family: 'Noto Serif', serif;
  font-weight: 500;
  color: #4f4f4f;
  padding-top: 0;
  font-weight: 600;
  text-align: left;
}
.newProject .details p {
  font-family: 'Fira Sans', sans-serif;
}
.newProject .challenge {
  flex-direction: column !important;
  display: flex;
  padding-left: 0;
  padding-top: 0;
}
.newProject .challenge p {
  padding-bottom: 32px;
}
.newProject .processGroup {
  text-align: left;
}
.newProject .processGroup h3 {
  font-size: 24px;
  font-family: 'Noto Serif', serif;
  font-weight: 500;
  color: #4f4f4f;
  padding-top: 0;
  font-weight: 600;
  padding-left: 0;
}
.newProject .processGroup p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  padding: 24px 0;
}
.newProject .researchMargin {
  margin-bottom: 120px;
}
.browse {
  margin: 80px 0;
}
.margin-bottom {
  margin-bottom: 80px;
}
.newProject img.img-padding {
  padding: 80px;
  object-fit: contain;
}
.newProject p a.site-link {
  color: #334431;
  font-weight: 600;
}
a {
  transition: 500ms;
}
a:hover {
  border-bottom: 4px solid #334431;
}
.paddingSpace {
  padding: 40px 0;
}
.marginSpace {
  margin-bottom: 80px;
}

/* mobile syltes*/
@media only screen and (max-width : 480px) {
  .About p.aboutMe {
    font-size: 18px;
    padding: 0 32px;
    line-height: 32px;
  }
  .About h1.hello {
    font-size: 32px;
    margin-left: 32px;
  }
  .gif-stuff {
    height: 320px;
  }
  .landing-info {
    height: 320px;
  }
  .footer .landing-info {
    height: 120px;
  }
  .footer ul.menu {
    padding-bottom: 120px;
  }
  .project-description {
    padding-right: 0;
  }
  .Project .summary {
    text-align: left;
    font-size: 18px;
    padding: 0 24px;
  }
  .Project a.projectLink {
    font-size: 18px;
  }
  .Project .project-title h3 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .Project .project-description-lg {
    font-size: 32px;
    line-height: 32px;
  }

  .Project a.projectLink {
    padding: 16px 56px;
    font-size: 16px;
  }
  .Project .column {
    display: block;
  }
  .landing-info h1 {
    font-size: 48px;
    line-height: 56px;
  }

  .project-info {
    height: 400px;
  }
  .newProject .processGroup p {
    font-size: 16px;
    padding: 0 16px;
  }
  .Project .process-image img {
    padding: 40px 24px
  }
  .newProject .processGroup h3 {
    text-align: center;
  }
  .newProject .details h3 {
    text-align: center;
  }
  .newProject img {
    box-shadow: none;
  }

}
@media only screen and (max-width : 1480px) {
  .Card .project-info {
   flex-direction: column;
 }
 .Card .project-title {
   width: 100% !important;
 }
 .project-description {
   padding-left: 29px;
 }
}
